.botonera {
	border-bottom: 3px solid $color_2;
	text-align: left;
	a {
		&:hover {
			color: $color_2;
		}
	}
}
.logo {
	width: 113px;
}
header {
	nav {
		text-align: center;
	}
}
nav {
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
		}
	}
}
a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: $color_1;
	padding: 15px;
	font-family: $font-family_1;
	line-height: 50px;
	transition: color 0.3s ease;
}
main {
	margin: 20px;
	padding: 20px;
}
h1 {
	text-align: center;
	text-decoration: underline $color_2;
	margin: 10px;
	padding: 50px;
	font-family: $font-family_1;
}

