//variables
$color_1: white;
$color_2: rgb(223, 93, 18);
$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$black: black;
$background-color_1: #fff;
$background-color_2: rgb(223, 93, 18);